/* body {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 0;
    padding: 0; 
} */

header h1{
    text-align: center;
    

}
header p{
    text-align: center;

}
header{
    background: green; 
    padding: 1px;
    color: white;
    width: auto;
    display: block;
}
nav {
    text-align: center;
    background: #f7d489;
    padding: 10px;
    color: black;
    

}
nav a{
    text-decoration: none;
    margin: 50px;
    color: black;

}
nav:hover{
    background-color: lightsteelblue;
color: blue;
 cursor: pointer;
/* transform: translateX(20px);  */
 color: white; 
 transition-duration: 0.7s; 
 transform: translateY(10px);
 

}
 a:hover{
    color: white;
    cursor: pointer;
    transform: translateX(20px);
    
color: black;
}
.navelement{
display: block;
padding: 10px;
background-color: white;
color: white;
transition-duration: 0.7s; 
text-align: center;
width: 400px;
}
.navelement:hover{
background-color: lightsteelblue;
color: blue;
 cursor: pointer;
transform: translateX(20px); 
 background-color: blue; 

}
.example{
    display: block;
    padding: 10px;
    background-color: white;
    color: black;
    transition-duration: 0.7s;
    text-align: center;
    
}
.example:hover{
    background-color: rgba(93, 97, 93, 0.911);
    color: white;
    cursor: pointer;
    transform: translateX(-20px);
}
.example1{
    display: block;
    padding: 10px;
    background-color: white;
    color: black;
    transition-duration: 0.7s;
    text-align: center;
    
}
.example1:hover{
    background-color: rgb(69, 158, 69);
    color: white;
    cursor: pointer;
    transform: translateX(20px);
}
.bro{
    margin: 100px;
    
    text-align: center;
    padding: 100px;

}
li{
    float: inline-start;
    margin: 20px;
    padding: 0px;
    position: relative;
    bottom: 0;
    right: 0;
}
.example a{
    text-decoration: none;
    color: white;
}
.example a:hover{
    background-color: green;
}

footer{
    background-color: rgb(196, 102, 188);
    color: white;
    padding: 0px ;
    bottom: 0;
     width: 100%;
     position: relative;
   
   
  
   
}
footer div p {
    text-align: center;
    
}
footer a{
    text-decoration: none;
    margin: 30px;
    text-align: center;
    color: blue;

    
}
.fa-phone{
    
    color: blue;
    
}
.fa-square-github{
    color: black
}

.fa-facebook:hover {
background-color: white;
}

.fa-tiktok{
    background-color: black;
    color: white;

    
    
}
.fa-phone:hover{
    background-color: white;
}
.fa-square-github:hover{
    background-color: white;
}
.fa-envelope:hover{
    background-color: white;
}

.img_01{
    background-image: url(/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.t2299{
    float: right;
    
    width: 690px;
}
.t1{
   float: right; 
   width: 690px;
   

   margin-top: 40px;
}

marquee{
background: #000;

}
.header1 {
    background-color: #2e8b57;
    width: auto;
    padding: 0px;
    color: white;
    text-align: center;
    padding:  0px;
}
.nav1{
    background-color: burlywood;
    padding: 12px;
}
strong{
    
    float: left;
}
.yow{
    float: right;
}
/* header nav a{
    text-decoration: none;
    margin: 100px;
  }
  header nav a:hover{
    color: black;
  } */
  section#contact {
    padding: 2rem;
  }
  address p, address a {
    margin: 0.5rem 0;
  }
  form {
    margin-top: 1rem;
    text-align: center;
  }
  form label {
    display: block;
    margin-top: 0.5rem;
  }
  form input, form textarea, form button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: darken(var(--primary-color), 10%);
  }